.next/

cache/
coverage/
dist/
dist_assets/
experiments
node_modules/
.npm/
yarn-error.log

.vscode/*
!.vscode/*.code-snippets

.idea/*
.fleet/*

heapdump-*
.DS_Store

/test.js
/test*.js
/test.py
/test*.py
/test.log
/test*.log
/test.txt
/test*.txt
/test.html
/test*.html
/test.json
/test*.json
.netrc
TODO.txt
*.error.log
*.error.json